#myInput {
  background-repeat: no-repeat; 
  width: 70%; 
  border: 10px solid rgb(7, 7, 7);
  font-size: 16px; 
  padding: 2px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
  margin-top: 40px;
  text-align: left;
  margin-left: 40px;
}

#site {
  background-color: #e6e7d4;
  overflow-x: hidden;
  overflow-y: hidden;
}

.center-block {
  display: block;
  padding: 30px;
}

.header{
  font-family: 'Amatic SC', sans-serif;
  font-size: 5vw;
}
.emoji{
font-family: 'Noto Color Emoji', sans-serif;
font-size: 8vw;

}

.bgHeader{
  background-color: #3f5c64
}

.card-text {
  font-size: calc(7px + .5vw);
  color: white;
}

.card-img-top{
  max-height: 400px;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  display: block;
  padding: 1px;
  margin-left: 40px;
  width: 70%;
  position: relative;
  z-index: 1;
  align-items: center;
  
}

#myUL li a {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px; 
  text-decoration: none; 
  font-size: 18px; 
  color: black; 
  display: block;
  position: relative;
  z-index: 1;
}

#myUL li a:hover:not(.header) {
  background-color: #eee; 
  position: relative;
  z-index: 1;
}

.card {
  border: 1px solid black;
  background-color: #1e677c;
  margin-bottom: 20px;
  width: 150%;
  max-width: 420px;
  }


#left {
    width: 35%;
    float: left;
}
#right {
    width: 65%;
    float: left;
    margin-top: 30px;
    overflow-y: auto;
    max-height: 100vh;
}

#cardleft {
  width: 50%;
  float: left;
}
#cardright {
  width: 50%;
  float: left;
}

hr {
  height: 3px;
  /* Set the hr color */
  color: #c57f23; 
  background-color: #c57f23;
  border-color: #c57f23;
}

.col.d-flex{
  width: 375px !important;
  min-width: 360px !important;
  max-width: 1000px !important;
}

.search-container {
  display: flex; 
  align-items: center; 
}

#clearButton {
  margin-left: 1px; 
  margin-right: 15px; 
  margin-top: 27px;
}

.form-switch{
  margin-left: 1px; 
  margin-right: 0px; 
  margin-top: 20px;
}
.form-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  align-items: center;

}

.form-check-input {
  margin-bottom: 5px; 
  margin-top: 13px;
  padding-left: 1vw;
  margin-left: 30px;
}

.form-check-label{
  margin-right: 0;
}

#loader-container {
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin-top: 15vw;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #1e677c;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blink_me {
  animation: blinker 2s linear infinite;
  margin-top: 10px;
  text-align: center;
  font-size: 1vw;
  color: #1e677c;;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 900px) {
  #left{
    width:100%;
  }
  #right{
    width:100%;
    margin: 0 auto;
  }
  .emoji{
    display: none;
    
    }

    .blink_me {
      animation: blinker 2s linear infinite;
      margin-top: 10px;
      margin-left: -120px; /* Adjust this value to move the text to the left */
      text-align: center;
      font-size: 5vw;
      color: #1e677c;;
    }
    
}

